.com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_desktop, .com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_desktop_only, .com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_mobile_only {
	display:block;
}

.com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_mobile, .com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_mobile_none, .com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_desktop_none {
	display:none;
}

.com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_mobile ul {
	display:none;
}

@media only screen and (max-width: 991px) {
	.com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_desktop{
		display:none;
	}
	
	.com_anm22_wb_editor_com_anm22_wb_editor_page_element_menu_menu_mobile{
		display:block;
	}
}